/venv  
__pycache__
.vscode
.env
.vscode
config.py
PATH
aws_admin_cred.csv
/cryptoinvest/data/database.db
/cryptoinvest/data/database.sqbpro
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk
