{% extends 'base.html' %}

{% block title %}Error 500{% endblock %}

{% block menu %}
    <nav class="navbar">
        <div class="navbar-list">
        <ul>
            <li class="home"><a href="/">Inicio</a></li>
            <li class="compra"><a href="/purchase">Compra</a></li>
            <li class="estado"><a href="/status">Estado</a></li>
        </ul>
        </div>
        <ul>
            <li>CryptoInvest</li>
        </ul>
    </nav>
{% endblock%}

{% block content %}
<section class="section">
    <br>
    <h1 class="error-code">
        <span>5</span>
        <span>0</span>
        <span>0</span>
        <span>!</span>
    </h1>
    {% for mensaje in mensajes %}
        <br>
        <p class="error-style">{{ mensaje }}</p>
    {% endfor %}
</section>
{% endblock %}