<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CryptoInvest - {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/error_pages.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="navbar-list">
            <ul>
                <li><a class="navbar-item" href="/">Inicio</a></li>
                <li><a class="navbar-item" href="/purchase">Compra</a></li>
                <li><a class="navbar-item" href="/status">Estado</a></li>
            </ul>
            </div>
            <ul>
                <li>CryptoInvest</li>
            </ul>
        </nav>
        <main class="main">
                {% block content %}{% endblock %}
        </main>
        <footer class="pie">
            &copy; 2021 - Luis Villén
        </footer>
    </div>
</body>
</html>