<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CryptoInvest - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container is-max-desktop has-background-white">
        <nav class="navbar has-background-white is-full">
            <div class="navbar-start">
                <a class="navbar-item has-text-info" href="/">Inicio</a>
                <a class="navbar-item has-text-info" href="/purchase">Compra</a>
                <a class="navbar-item has-text-info" href="/status">Estado</a>
            </div>
            <div class="navbar-end">
            </div>
        </nav>
        <header class="hero">
            <h1 class="title has-text-info">CryptoInvest</h1>
        </header>
        <main class="main">
            <section class="section">
                {% block content %}{% endblock %}
            </section>

        </main>
    </div>
    <footer class="footer">
        &copy; 2021 - Luis Villén
    </footer>
</body>
</html>