{% extends 'base.html' %}

{% block title %}No llevará{% endblock %}

{% block content %}
<section class="table-sec">
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>De</th>
                <th>Cantidad</th>
                <th>A</th>
                <th>Cantidad</th>
                <th>P. U.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Testing</td>
                <td>Testing</td>
                <td>Testing</td>
                <td>Testing</td>
                <td>Testing</td>
                <td>Testing</td>
                <td>Testing</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}