{% extends 'base.html' %}

{% block title %}No llevará{% endblock %}

{% block content %}
<section class="table-sec">
    {% if datos|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>De</th>
                <th>Cantidad</th>
                <th>A</th>
                <th>Cantidad</th>
                <th>P. U.</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in datos %}
            <tr>
                <td>{{registro['date']}}</td>
                <td>{{registro['time']}}</td>
                <td>{{registro['from_currency']}}</td>
                <td>{{registro['from_quantity']}}</td>
                <td>{{registro['to_currency']}}</td>
                <td>{{registro['to_quantity']}}</td>
                <td>{{registro['from_quantity']/registro['to_quantity']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay movimientos.</p>
    {% endif %}
</section>
{% endblock %}