{% extends 'base.html' %}

{% block title %}Compra{% endblock %}

{% block content %}

<div class="container ">
<form action="/purchase" method="post" class="">
    {{ form.csrf_token }}
    <div class="columns is-half">
        <div class="column">
            <div class="field">
                {{ form.from_currency.label}}
                {% if calculate == False %} 
                    {{ form.from_currency(class="select")}}
                {% else %}
                    {{ form.from_currency(class="select", disabled="disabled")}}
                    {{ form.from_currency(hidden=True)}}
                {% endif %}
            </div>
            <div class="field">
                {{ form.from_quantity.label}}
                {% if calculate == False %} 
                    {{ form.from_quantity (class="input")}}
                        {% if form.from_quantity.errors %}
                            {% for msg in form.from_quantity.errors %}
                                <p class="err-msg" style="color: red;">
                                    {{msg}}
                                </p>
                            {% endfor %}
                        {% endif %}
                {% else %}
                    {{ form.from_quantity(class="input", readonly="readonly")}}
                {% endif %}
            </div>
            <div class="field">
                {{ form.to_currency.label}}
                {% if calculate == False %} 
                    {{ form.to_currency(class="select")}}
                        {% if form.to_currency.errors %}
                            {% for msg in form.to_currency.errors %}
                                <p class="err-msg" style="color: red;">
                                    {{msg}}
                                </p>
                            {% endfor %}
                        {% endif %}
                {% else %}
                    {{ form.to_currency(class="select", disabled="disabled")}}
                    {{ form.to_currency(hidden=True)}}
                {% endif %}
            </div>
            <div class="field">
                {{ form.calculate(class="button")}}
            </div>
        </div>
        <div class="column">
            <div class="field">
                {{ form.to_quantity.label}}
                {% if calculate == False %} 
                    {{ form.to_quantity(class="input", disabled="disabled")}}
                {% else %}
                        {{ form.to_quantity(class="input", value=to_quantity)}}
                {% endif %}
            </div>
            <div class="field">
                {{ form.price_unit.label}}
                {% if calculate == False %} 
                    {{ form.price_unit(class="input", disabled="disabled")}}
                {% else %}
                    {{ form.price_unit(class="input", value=price_unit)}}
                {% endif %}
            </div>
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        {% if calculate == False %} 
                            {{ form.submit(class="button", disabled="disabled")}}
                        {% else %}
                            {{ form.submit(class="button")}}
                        {% endif %}
                    </div>
                    <div class="level-item">
                        <a class="button" href="/purchase">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

{% endblock %}