{% extends 'base.html' %}

{% block title %}Compra{% endblock %}

{% block content %}

<form action="/purchase" method="post">
    <div class="field">
        {{ form.from_currency.label}}
        {{ form.from_currency}}
    </div>
    <div class="field">
        {{ form.from_quantity.label}}
        {{ form.from_quantity}}
    </div>
    <div class="field">
        {{ form.to_currency.label}}
        {{ form.to_currency}}
    </div>
    <div class="field">
        {{ form.calculate}}
    </div>
    <div class="field">
        {{ form.to_quantity.label}}
        {{ form.to_quantity(value=to_quantity, disabled="disabled")}}
        {{ form.to_quantity(value=to_quantity, hidden=True)}}
    </div>
    <div class="field">
        {{ form.price_unit.label}}
        {{ form.price_unit(value=price_unit, disabled="disabled")}}
        {{ form.price_unit(value=price_unit, hidden=True) }}
    </div>
    <div class="field">
        {{ form.submit}}
    </div>

</form>

{% endblock %}