{% extends 'base.html' %}

{% block title %}No llevará{% endblock %}

{% block content %}
<section class="column is-full">
    {% for mensaje in mensajes %}
        <p class="err-msg">{{ mensaje }}</p>
    {% endfor %}
    <div class="content">
        <h1>Estado de la inversión</h1>
        <h2>Invertido</h2>
        <p style="font-size: 3rem;">{{ total_invested }} €</p>
        <h2>Valor actual</h2>
        <p style="font-size: 3rem;">{{ actual_value }} €</p>
    </div>  
</section>
{% endblock %}