{% extends 'base.html' %}

{% block title %}No llevará{% endblock %}

{% block menu %}
    <nav class="navbar">
        <div class="navbar-list">
        <ul>
            <li class="home"><a href="/">Inicio</a></li>
            <li class="compra"><a href="/purchase">Compra</a></li>
            <li class="estado">Estado</li>
        </ul>
        </div>
        <ul>
            <li>CryptoInvest</li>
        </ul>
    </nav>
{% endblock%}

{% block content %}
<section class="section">
    {% for mensaje in mensajes %}
        <p class="error-style-inpage">{{ mensaje }}</p>
    {% endfor %}
    <div class="content">
        <p class="inv">Invertido</p>
        <p class="num-inv">{{ total_invested }}</p>
        <p class="inv">Valor actual</p>
        <p class="num-inv">{{ actual_value }}</p>
    </div>  
</section>
{% endblock %}